# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment variables
.env

# Docker volumes (will be created by docker-compose)
docker-data/

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Soda
soda/.soda/